<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BTC</title>
    <style>
      td {font-size: 14px;text-align: center;}
      th {font-size: 14px;text-align: center;}
    </style>
</head>
<body>
<p>第{{ number }}页</p>

<table border="1"  cellspacing="0">
    <tr>
        <th>秘钥</th>
        <th>地址</th>
        <th>余额</th>
        <th>交易额</th>
        <th>秘钥</th>
        <th>地址</th>
        <th>余额</th>
        <th>交易额</th>
    </tr>
{% for add in add_list %}
    <tr>

          <td>{{add.mySecretKey }}</td>
          <td>{{add.myAddress}}</td>
        {% if add.blance_my.final_balance != 0  %}
          <td style="color: red;font-weight:bold;font-size: 18px;">{{add.blance_my.final_balance}}</td>
          <td style="color: red;font-weight:bold;font-size: 18px">{{add.blance_my.total_received}}</td>
        {% else %}
          <td>{{add.blance_my.final_balance}}</td>
          <td>{{add.blance_my.total_received}}</td>
        {% endif %}
          <td>{{add.mySecretKey_com}}</td>
          <td>{{add.myAddress_com}}</td>
        {% if add.blance_my_com.final_balance != 0  %}
          <td style="color: red;font-weight:bold;font-size: 18px">{{add.blance_my_com.final_balance}}</td>
          <td style="color: red;font-weight:bold;font-size: 18px">{{add.blance_my_com.total_received}}</td>
        {% else %}
          <td>{{add.blance_my_com.final_balance}}</td>
          <td>{{add.blance_my_com.total_received}}</td>
        {% endif %}

    </tr>
{% endfor %}

</table>



</body>
</html>