<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BTC</title>
</head>
<body>
<p>第{{ number }}页</p>
<table>
    <tr>
        <th>秘钥</th>
        <th>地址</th>
        <th>费用</th>
        <th>秘钥</th>
        <th>地址</th>
        <th>费用</th>
    </tr>
  {% for add in add_list %}
      <tr>add['mySecretKey']</tr>
      <tr>add.myAddress</tr>
      <tr>add.blance_my</tr>
      <tr>add.mySecretKey_com</tr>
      <tr>add.myAddress_com</tr>
      <tr>add.blance_my_com</tr>
  {% endfor %}
      </table>


</body>
</html>